# Iris Classification

The dataset used is gotten from [UCI Machine Learning Respository](https://archive.ics.uci.edu/dataset/53/iris). The goal of the project is to predict the class of an iris flower based on its sepal length, sepal width, petal length and petal width.

## Importing the Necessary Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Importation with Data Preprocessing

In this section, we will be importing our dataset and performing data cleaning to fix missing values, outliers and conduct further analysis.

In [3]:
#using pandas as pd
data = pd.read_csv("/workspaces/ECX-4.0-21-Days-Data-Science-Challenge/bezdekIris.data")

In [4]:
#getting the first 5 content of our data
data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [4]:
#getting the shape
data.shape

(31947, 12)

In [5]:
#getting the information summary on our dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31947 entries, 0 to 31946
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             31947 non-null  int64
 1   workclass       31947 non-null  object
 2   fnlwgt          31947 non-null  int64
 3   education       31947 non-null  object
 4   education.num   31947 non-null  int64
 5   marital.status  31947 non-null  object
 6   occupation      31947 non-null  object
 7   relationship    31947 non-null  object
 8   race            31947 non-null  object
 9   sex             31947 non-null  object
 10  native.country  31947 non-null  object
 11  income          31947 non-null  object
dtypes: int64(3), object(9)
memory usage: 2.9+ MB

In [6]:
#checking to see if we have missing values in our dataset
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
native.country    0
income            0
dtype: int64

Fortunately we have no missing values if we did we will have to use the SimpleImputer from the scikit-learn library to fill up our missing values. 
`from sklearn.impute import SimpleImputer`

In [7]:
#getting the statistics summary on our dataset
data.describe()

                age        fnlwgt  education.num
count  31947.000000  3.194700e+04   31947.000000
mean      38.570695  1.897319e+05      10.071149
std       13.646280  1.057567e+05       2.561430
min       17.000000  1.228500e+04       1.000000
25%       28.000000  1.176275e+05       9.000000
50%       37.000000  1.783120e+05      10.000000
75%       48.000000  2.374535e+05      12.000000
max       90.000000  1.484705e+06      16.000000